In [1]:
import pandas as pd 
df = pd.read_json("database/crafting_profit.json")
df = df.convert_dtypes()
# df.dtypes

In [3]:
df = df[df['disciplines_str'].str.contains("Chef|Armorsmith")]

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
	display(df[[	
		'item_name',
		'sell_price',
		'crafting_price',

		# 'crafting_profit',
		# 'crf_prf_estimate',
		# 'crafting_roi',

		'crafting_profit_INS',
		'crafting_roi_INS',

		'7d_sell_sold',
		'1d_sell_sold',
		'7d_SL_diff',
		'1d_SL_diff',
		'1d_5%_SS',
		'disciplines',
		'difficult'
		]]

	.loc	[
		(df['crafting_profit'] > 1) &
		(df['crafting_profit'] > df['flip_profit']) &
		# (df['difficult'] == False) &

		# (df['1d_SL_diff'] > -10) &
		(df['7d_SL_diff'] > -10) &
		(df['1d_sell_sold'] > 25) &
		(df['7d_sell_sold'] > 100) 
		]

	# .sort_values(by='crafting_profit', ascending=False)
	# .sort_values(by='crf_prf_estimate', ascending=False)
	.sort_values(by='crafting_profit_INS', ascending=False)
	# .sort_values(by='1d_sell_sold', ascending=False)

	.style.hide_index()
	# .head(20)
	# .shape[0]
	)

## What am I currently crafting ##
- 5x Mystic Aspect

## What am I currently crafting for instant sell ##

## What I was crafting for instant sell ##
- 300x Cup of Light-Roasted Coffee

## What I was crafting for instant sell ##
- Cleric's Gladiator Gauntlets